* {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    margin-bottom: 4.5rem;
}

ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-size: 2rem;  
}

.nav-link {
    color: black;
    text-decoration: none;
    text-decoration-color: white;
    transition: all 300ms ease;
}

.nav-link:hover {
    color: gray;
    text-decoration-color: rgb(181, 181, 181);
}

.btn {
    background: none;
    border: none;
    color: inherit;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: none;
}

.dropdown-content {
    position: absolute;
    display: block;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;
}

.dropdown-content:hover {
    cursor: pointer;
}

.option {
    color: black;
    text-decoration: none;
    text-decoration-color: white;
    transition: all 300ms ease;
}

.option:hover {
    color: gray;
    text-decoration: underline;
    text-underline-offset: 0.2rem;
    text-decoration-color: rgb(181, 181, 181);
}